# Backend
SERVER_PORT=8181
DB_HOST=localhost
DB_PORT=5432
DB_NAME=agentx_rag_learn
DB_USER=postgres
DB_PASSWORD=postgres
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
EMBEDDING_API_KEY=
EMBEDDING_BASE_URL=https://api.siliconflow.cn/v1
EMBEDDING_MODEL=Qwen/Qwen3-Embedding-0.6B
EMBEDDING_DIMENSION=1024
VECTOR_STORE_TABLE=public.vector_store

# Frontend
NEXT_PUBLIC_APP_NAME=AgentX-RAG-Learn
NEXT_PUBLIC_API_BASE_URL=http://localhost:8181/api/v1
