# Backend
SERVER_PORT=8181
DB_HOST=localhost
DB_PORT=5432
DB_NAME=agentx_rag_learn
DB_USER=postgres
DB_PASSWORD=postgres
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# Frontend
NEXT_PUBLIC_APP_NAME=AgentX-RAG-Learn
NEXT_PUBLIC_API_BASE_URL=http://localhost:8181/api/v1
